html,
body
  font-family: sans-serif

table
  width: 100%
  border-collapse: collapse

table,
td
  border: 1px solid grey

td
  text-align: center
  padding: 5px

thead td,
th
  background-color: #eaecf0
  font-weight: bold
  border: 1x solid #a2a9b1